@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html{
    background: linear-gradient(90deg, rgb(25, 38, 111) 33%, rgb(25, 39, 112) 35%, rgb(22, 54, 120) 100%);
	height:100vh;
}
body {
  color: #333;
  overflow: hidden;  
  /*user-select: none;*/
  /* background: url(../img/bg.png) no-repeat; */
  background: url(http://vivavolt.vivadigitalindia.net/assets/publicassets/activity/img/bg_1.png) no-repeat;
  background-size: cover;
  z-index:1;
  position:relative;
  height:100vh;
}
body:after
{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0,0,0,0.2);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #000;
  font-weight: 600;
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {  
  text-decoration: none;
}


li {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  list-style: none;
  /*text-transform: capitalize;*/
}

span {
  letter-spacing: 1px;
}

.img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  font-size: 13px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #71c55d;
  display: inline-block;
  line-height: 1;
  color: #fff;
  padding: 7px 12px 13px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #71c55d;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #55b03f;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  /**position: fixed;**/
  left: 0;
  top: 0;
  right: 0;
  /*height: 55px;*/
  height: calc(6vh + 50px);
  z-index: 3;
  background: linear-gradient(90deg, rgb(25, 38, 111) 33%, rgb(25, 39, 112) 35%, rgb(22, 54, 120) 100%);
}

#header #logo {
  padding: 6px 0 0 0;
}

#header #logo h1 {
  color: #505050; 
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #71c55d;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.scroll-header {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(90vh - 65px);
  /* background: url(../img/bg.png); */
  background-size: auto 100%;
  position: relative;
  /* background-color: rgb(195, 39, 39); */
  
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Philosopher", sans-serif;
  color: #71c55d;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #777;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #71c55d;
  background: #fff;
  color: #71c55d;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #71c55d;
  color: #fff;
}

#hero .btns a {
  color: #555;
  /*font-size: 11px;*/
  font-size: calc(2vh - 5px);
  font-weight: 700;
  text-transform: uppercase;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #hero .btns a {
    margin: 4px 8px;
  }
}

#hero .btns a:hover {
  color: #71c55d;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  margin-top: 1px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0 0 0 0;
}

@media (max-width: 1024px) {
  #nav-menu-container {
    /*display: none; */
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #71c55d;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #71c55d;
}

.nav-menu ul ul {
  margin: 0;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/* Get Started Section
--------------------------------*/
#get-started {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#get-started .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out 0s;
}

@media (max-width: 991px) {
  #get-started .feature-block {
    margin-bottom: 30px;
  }
}

#get-started .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block h4 {
  margin-bottom: 20px;
}

#get-started .feature-block p {
  margin-bottom: 20px;
}

#get-started .feature-block a {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

#get-started .feature-block a:hover {
  color: #71c55d;
}


@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate2 {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #2a2c30;
  padding-top: 50px;
}

.footer .footer-logo .navbar-brand {
  color: #fff;
  display: inline-block;
  float: none;
  font-family: "Philosopher", sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 0.2em;
  padding-left: 0;
  padding-top: 0;
}

.footer .footer-logo p {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer .list-menu > h4 {
  color: #fff;
  padding-bottom: 20px;
}

.footer .list-menu ul li a {
  color: #fff;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
  letter-spacing: 0;
}

.footer .copyrights {
  background: #fff;
  margin-top: 50px;
  text-align: center;
  padding: 25px;
}

.footer .copyrights p, .footer .copyrights .credits {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}

.footer .copyrights p a, .footer .copyrights .credits a {
  letter-spacing: 0;
  color: #71c55d;
}
