
@import url(https://fonts.googleapis.com/css?family=Material+Icons|Roboto:400,700);

/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../icons/MaterialIcons-Regular.eot); /* For IE6-8 *//*
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../icons/MaterialIcons-Regular.woff) format('woff'),
       url(../icons/MaterialIcons-Regular.ttf) format('truetype');
}*/


body{ background-color:#fff;
  overflow: hidden;
}

body.kids-bg{ background-image: url(assets/images/act-bg.jpg);
background-repeat: no-repeat;}
.center-box{ background-image: url(assets/images/box.png);
height: 700px;
width: 1000px;
margin: 24px auto;
background-repeat: no-repeat;}

.q-area{background-image: url(assets/images/q-area.png);
width: 83%;

height: 200px;
position: absolute;

top: 15%;

right: 0%;

left: 0%;
background-repeat: no-repeat;

margin: 0 auto;
text-align: center;

color:#fff;}

.optn-area{position: absolute;

width: 100%;

top: 104%;}

.optn-area-2{position: absolute;
width: 100%;
top: 84%;}

.img-frame{background-image: url(assets/images/opn-frame.png);width: 340px;height: 300px;background-repeat: no-repeat;padding: 16px;margin-top: 7%; margin-left: 10%; }
.frame-inner{width: 308px; height: 267px; overflow: hidden; border-radius: 22px;}
.optn-box{background-image: url(assets/images/optn-box.png);
height: 76px;
background-repeat: no-repeat;
padding: 22px 16px;
font-size: 17px;
transition: transform .5s;
margin-top: 7%;
overflow: hidden;}
.optn-area a {color: #fff; text-decoration: none;}
.optn-area-2 a {color: #fff; text-decoration: none;}

.optn-box:hover{transform: scale(1.1); transition: transform .5s;}
.optn-box-2:hover{transform: scale(1.1); transition: transform .5s;}

.q-text{width: 91%;

margin: 0px auto;

padding-top: 2%;
}

.optn-box-2{background-image: url(assets/images/optn-box.png);
height: 76px;
background-repeat: no-repeat;
padding: 22px 16px;
font-size: 17px;
transition: transform .5s;
margin-top: 3%;
overflow: hidden;}

#qid {
  padding: 10px 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 20px;
}
label.btn {
    padding: 18px 60px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}

.modal-dialog {

    width: 900px;
    margin: 114px auto;

}



.nivo-main-image{position: absolute;}

label.btn:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}
label.btn-block {
    text-align: left;
    position: relative
}

label .btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 19px 15px;
    background: rgba(0,0,0,.15);
    height: 100%
}

label .glyphicon {
    top: 34%
}
.element-animation1 {
    animation: animationFrames ease .8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease .8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
.element-animation2 {
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
.element-animation3 {
    animation: animationFrames ease 1.2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease 1.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease 1.2s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
.element-animation4 {
    animation: animationFrames ease 1.4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease 1.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease 1.4s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(-1500px,0px)
    }

    60% {
        opacity: 1;
        transform: translate(30px,0px)
    }

    80% {
        transform: translate(-10px,0px)
    }

    100% {
        opacity: 1;
        transform: translate(0px,0px)
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        -webkit-transform: translate(-1500px,0px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(30px,0px)
    }

    80% {
        -webkit-transform: translate(-10px,0px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px,0px)
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity: 0;
        -ms-transform: translate(-1500px,0px)
    }

    60% {
        opacity: 1;
        -ms-transform: translate(30px,0px)
    }
    80% {
        -ms-transform: translate(-10px,0px)
    }

    100% {
        opacity: 1;
        -ms-transform: translate(0px,0px)
    }
}

.modal-header {
    background-color: transparent;
    color: inherit
}

.modal-body {
    min-height: 205px
}
#loadbar {
    position: absolute;
    width: 62px;
    height: 77px;
    top: 2em
}
.blockG {
    position: absolute;
    background-color: #FFF;
    width: 10px;
    height: 24px;
    -moz-border-radius: 8px 8px 0 0;
    -moz-transform: scale(0.4);
    -moz-animation-name: fadeG;
    -moz-animation-duration: .8800000000000001s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 8px 8px 0 0;
    -webkit-transform: scale(0.4);
    -webkit-animation-name: fadeG;
    -webkit-animation-duration: .8800000000000001s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 8px 8px 0 0;
    -ms-transform: scale(0.4);
    -ms-animation-name: fadeG;
    -ms-animation-duration: .8800000000000001s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 8px 8px 0 0;
    -o-transform: scale(0.4);
    -o-animation-name: fadeG;
    -o-animation-duration: .8800000000000001s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 8px 8px 0 0;
    transform: scale(0.4);
    animation-name: fadeG;
    animation-duration: .8800000000000001s;
    animation-iteration-count: infinite;
    animation-direction: linear
}

.resize {
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    color: #000;
    float: left;
    margin-left: 10px;
    font-size: 15px
}

.opt{width: 23%; float: left;

float: left;

height: 150px;
overflow: hidden;
text-align: center;
margin:9px;
font-size: 23px;
position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);}

.opt:hover{box-shadow: 0px 0px 10px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.2);}

.opt_txt{margin-top: 27%; color: #000;}

img.opn-img{width: 100%;

height: 153px;

padding: 10px;}

.opt a{width: 100%;
}

.opt1{background-color: #f9a138;}

.opt2{background-color: #3e468f;}

.opt3{background-color: #f2a3c8;}

.opt4{background-color: #b788f0;}

@-moz-keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

@-webkit-keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

@-ms-keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

@-o-keyframes fadeG {
    0% {
        background-color: #000
    }
    100% {
        background-color: #FFF
    }
}

@keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

h3.activity-q{text-align: center;
margin-top: 73px;
color:#6e7982;
margin-bottom: 73px;}

.level h5 span{margin-right: 5px; color:#fffb02;font-size: 15px;}

.level h5{text-align: center;
    font-size: 15px;
    font-weight: bold;}

 .help{text-align: right;
font-size: 31px;
 -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;}

.help:hover{text-align: right;
font-size: 39px;
text-shadow: 2px 2px #000;
  } 

 .previous{text-align: left;
font-size: 36px;}

.previous a{color: #6b6d6f;-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;}

.previous a:hover{color: #6b6d6f; font-size: 38px;}

.next a {font-size: 20px; color: #fff;}

.help a{color: #6b6d6f;
cursor: pointer;} 

.modal-content {
    position: relative;
    
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 17px;
    border: none;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
   background-color: #fff;
   }

#countdown {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
}

.btn-secondary{
background-color:#898bf7;

color:#fff;
}

#countdown-number {
  color: #000;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #000;
  fill: none;
  animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}







header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 256px;
   background-color:#898bf7;

border-bottom: 2px solid #FFF;
}
header > div {
    position: absolute;
    width: 100%;
    height: 32px;
    background-color: #9EC5FC59;
}

label, label:before, label:after {
    position: absolute;
    top: 215px;
    left: 15%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #E91E63;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 0px 8px 0px, 
                rgba(0, 0, 0, 0.239216) 0px 8px 8px 0px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 2;
}
label #open {
    position: absolute;
    top: -31px;
    left: 16px;
    color: white;
    font-size: 48px!important;
    cursor: pointer;
}
label #close {
    opacity: 0;
    cursor: pointer;
}
#menu-toggle:not(:checked) + label:hover {
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 0px 12px 0px, 
                rgba(0, 0, 0, 0.239216) 0px 12px 12px 0px;
}

#menu {
    position: absolute;
    padding: 0;
    top: 199px;
    left: 8%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

#menu-toggle:checked + label {
    position: absolute;
    top: 20%;
    left: 22%;
    width: 200px;
    height: 310px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 0px 8px 0px, 
                rgba(0, 0, 0, 0.239216) 0px 8px 8px 0px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}
#menu-toggle:checked + label #open {
    opacity: 0;
    pointer-events: none;
}
#menu-toggle:checked + label #close {
    position: absolute;
    top: -40px;
    right: 10px;
    color: #E91E63;
    font-size: 48px!important;
    opacity: 1;
}

#menu-toggle:checked + label + #menu {
    position: absolute;
    margin: 0;
    top: 35%;
    left: 22%;
    width: 200px;
    height: 250px;
    border-radius: 3px;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 2;
}

#menu-toggle:not(:checked) + label + #menu li {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
    
}
#menu-toggle:checked + label + #menu li {
    opacity: 1;
    margin-left: 30px;
    padding-bottom: 10px;
    transition: .2s ease .1s;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked  {
    display: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;/* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 3;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;/* Support for all WebKit browsers. */
  vertical-align: sub;
  -webkit-font-smoothing: antialiased;/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;/* Support for IE. */
  font-feature-settings: 'liga';
}

* {
    list-style: none;
    text-decoration: none;
    outline: 0;
}

#menu a{font-size: 17px;

color:
deepskyblue;}

#menu a i {margin: 10px;}



/*drag--------------------------and---------------------------------------------------drop*/

span.drop-area{width: 100px;

display: inline flow-root list-item;

border-bottom: 2px solid;

margin: 0px 3px 0px 5px;
font-size: 10px !important;}

.drg{width: 100%;

text-align: center;

margin-right: 0px;

margin-left: 0px;

height: 44px;

background-color:
cornflowerblue;

font-size: 18px;

color:
aliceblue;
padding: 10px;

margin: 14px 0px 0px 0px;}


/*8****************************************************True and false*******************************************/


.switch-button {
  width: 400px;
  height: 130px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  transition: .3s ease all;
  border: 4px solid #898bf7;
  overflow: hidden;
  border-radius: 30px;
}
.switch-button-case {
  display: inline-block;
  background: none;
  width: 49%;
  height: 100%;
  color: #070606;
  position: relative;
  border: none;
  transition: .3s ease all;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 1px;
  font-weight: 600;
}
.switch-button-case:hover {
  color: grey;
  cursor: pointer;
}
.switch-button-case:focus {
  outline: none;
}
.switch-button .active {
  color: #151515;
  background-color: #9df07f;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  transition: .3s ease-out all;
}
.switch-button .active-case {
  color: #151515;
  font-size: x-large;
}

.signature {
  position: fixed;
  font-family: sans-serif;
  font-weight: 100;
  bottom: 10px;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100vw;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.bg-shape3{
   background-image: url(assets/images/cycle-3-03.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    width: 13%;
    height: 40%;
 right: 68px;
bottom: 0px;
    z-index: 1;
    -webkit-animation:overlay-image-effect 10s infinite alternate ease-in-out;
 -moz-animation:overlay-image-effect 10s infinite alternate ease-in-out;
 -ms-animation:overlay-image-effect 10s infinite alternate ease-in-out

}
@-webkit-keyframes overlay-image-effect {
 from {
  -webkit-transform:translate(0,0);
  -moz-transform:translate(0,0);
  -ms-transform:translate(0,0);
  -o-transform:translate(0,0)
 }
 to {
  -webkit-transform:translate(0,10px);
  -moz-transform:translate(0,10px);
  -ms-transform:translate(0,10px);
  -o-transform:translate(0,10px)
 }
}

.bg-shape2{
   background-image: url(assets/images/cycle-2-03.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    width: 13%;
    height: 40%;
   right: 574px;
bottom: -48px;
    z-index: 1;
    -webkit-animation:overlay-image-effect 3s infinite alternate ease-in-out;
 -moz-animation:overlay-image-effect 3s infinite alternate ease-in-out;
 -ms-animation:overlay-image-effect 3s infinite alternate ease-in-out

}
@-webkit-keyframes overlay-image-effect {
 from {
  -webkit-transform:translate(0,0);
  -moz-transform:translate(0,0);
  -ms-transform:translate(0,0);
  -o-transform:translate(0,0)
 }
 to {
  -webkit-transform:translate(0,30px);
  -moz-transform:translate(0,30px);
  -ms-transform:translate(0,30px);
  -o-transform:translate(0,30px)
 }
}




.bg-shape {

    background-image: url(assets/images/cycle-1-03.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    width: 13%;
    height: 40%;
    left: 327px;
    bottom: 0;
    z-index: 1;
    -webkit-animation:overlay-image-effect 3s infinite alternate ease-in-out;
 -moz-animation:overlay-image-effect 3s infinite alternate ease-in-out;
 -ms-animation:overlay-image-effect 3s infinite alternate ease-in-out

}
@-webkit-keyframes overlay-image-effect {
 from {
  -webkit-transform:translate(0,0);
  -moz-transform:translate(0,0);
  -ms-transform:translate(0,0);
  -o-transform:translate(0,0)
 }
 to {
  -webkit-transform:translate(0,30px);
  -moz-transform:translate(0,30px);
  -ms-transform:translate(0,30px);
  -o-transform:translate(0,30px)
 }
}

.tool-area{width: 50%;
margin: 0 auto;}

input.blank{background: none;

border-top: none;

border-left: none;

border-right: none;

width: 19%;}